* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

/* Nav Bar Section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin: 0;
  z-index: 2;
  position: fixed;
  font-size: 10px;
  background-color: #fff;
}

.logo {
  display: flex;
  height: 8vh;
  padding: 5px;
  margin-right: 500px;
  background-color: orange;
}

.logo img {
  width: 100px;
}

.nav-links {
  width: 80%;
  height: 8vh;
  display: flex;
  overflow-x: hidden;
  margin-right: 2%;
  align-items: center;
}

.nav-links li {
  width: auto;
  display: flex;
  text-align: center;
  z-index: 0;
  margin-left: 100px;
}

.nav-links li a {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.nav-links li:hover {
  border-bottom: 2px solid black;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 4px;
  width: 100%;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 7px;
  transition: all 0.3s ease;
}


@media only screen and (max-width: 1100px) {
  body {
      overflow-x: hidden;
  }

  .logo {
      display: flex;
      flex: 2;
      width: 300px;
      margin-left: 3%;
  }

  .logo img {
      width: 300px;
  }

  .nav-links {
      position: absolute;
      right: 0px;
      height: 87vh;
      top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(104%);
      transition: 0.5s ease-in;
      font-size: 0.875rem;
      overflow-x: hidden;
  }

  .nav-links li {
      opacity: 0;
      width: 100%;
      transition: 0.2s;
      display: table;
      height: 14vh;
      overflow-x: hidden;
  }

  .nav-links li:hover {
      border-bottom: none;
  }

  .nav-links a {
      color: black;
      width: 80%;
      display: none;
  }

  .burger {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      margin-right: 5%;

  }

  .nav-active {
      transform: translateX(4%);
      background-color: #ced8df;
      border: 1px #1111110e solid;
      z-index: 3;
  }

  .nav-active a {
      display: block;
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
  }

  .nav-active li:hover {
      background: #c8d1d7;
  }

  .nav-links li:hover a {
      color: black;
      font-weight: 700;
  }

  @keyframes navLinkFade {
      from {
          opacity: 0;
          transform: translateX(50px);
      }

      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-2px, 4.5px);
  }

  .toggle .line2 {
      transform: rotate(45deg) translate(-2px, -4.5px);
  }
}

@media only screen and (max-width: 500px) {
  .logo {
      margin-left: 6%;
  }

  .logo img {
      width: 250px;
  }

  .nav-active {
      width: 100%;
      transform: translateX(2%);
  }

  .nav-links {
      height: 75vh;
  }

  .nav-links li {
      height: 12vh;
  }
}

/* End of Nav Bar Section */

.container {
  height: 100vh;
}

.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  z-index: -1;
}

.drawings img{
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.god {
  transform: translate(10%, -20%);
}

.like {
  transform: translate(70%, 20%);
}

.fish {
  transform: translate(25%, 50%);
}

.gun {
  transform: translate(5%, 70%);
}

.shadow {
  transform: translate(-30%, 5%);
}

/*
.femur {
  transform: rotate(5deg) translate(-30%, 40%);
}

.fight {
  transform: translate(20%, 70%);
}
*/

.main-title {
  position: absolute;
  top: 35%;
  left: 60%;
  font-size: 2rem;
  transform: translate(-73%, 5%);
  color: rgb(243, 203, 170);
}

.undertitle {
  position: absolute;
  width: 70%;
  top: 35%;
  left: 72%;
  font-size: 4rem;
  transform: translate(-73%, 5%);
  color: rgb(247, 223, 203);
}

.content {
  width: 100%;
  margin-top: 80px;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}
