* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;

}

a {
  cursor: pointer;
}




/* Nav Bar Section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  margin: 0;
  z-index: 3;
  position: fixed;
  font-size: 8px;
  background-color: #fff;
}

.nav-div {
  display: block;
  width: 20%;
}

.nav-links {
  width: 60%;
  height: 8vh;
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.nav-links li {
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;
}

.nav-links li a {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.nav-links li:hover a {
  font-weight: 700;
}

.some-link:hover img {
  width: 25px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  width: 100%;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 20px;
  height: 1px;
  background-color: #000;
  margin: 8px;
  transition: all 0.3s ease;
}

.some-link {
  display: flex;
  justify-content: space-around;
}

.some-link img {
  width: 22px;
  position: relative;
  top: 10%;
}

@media only screen and (max-width: 1100px) {
  body {
      overflow-x: hidden;
  }

  .nav-div {
    display: block;
    width: 100%;
  }

  .nav-links {
      position: absolute;
      height: 100vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      width: 100vw;
      transform: translateX(200%);
      transition: 0.8s ease-in-out;
      font-size: 8px;
      overflow-x: hidden;
  }

  .nav-links li {
      opacity: 0;
      width: 100%;
      transition: 0.2s;
      display: table;
      height: 6vh;
      overflow-x: hidden;
    }

  .nav-links a {
      color: black;
      width: 100%;
      display: none;
  }

  .burger {
      display: table-cell;
      margin-right: 60px;
  }

  .nav-active {
      transform: translateX(1%);
      background-color: #fff;
      opacity: 0.9;
      z-index: 3;
  }

  .nav-active a {
      display: block;
      width: 100%;
      height: 100%;
    }

    .nav-active li {
      position: relative;
      top: 25%;
      margin: 0 30px;
      transform: translateY(50%);
    }

  @keyframes navLinkFade {
      from {
          opacity: 0;
          transform: translateX(50px);
      }

      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-2px, 4.5px);
  }

  .toggle .line2 {
      transform: rotate(45deg) translate(-2px, -4.5px);
  }
}

@media only screen and (max-width: 500px) {

  .nav-active {
      width: 100%;
      transform: translateX(2%);
  }

  .nav-links {
      height: 75vh;
  }

  .nav-links li {
      height: 12vh;
  }
}

/* End of Nav Bar Section */



/* Logo */
.logo {
  position: fixed;
  margin-top: 10px;
  margin-left: 60px;
  z-index: 3;
}

.logo img {
  width: 50px;
}
/* End of Logo */




.container {
  height: 100vh;
}

.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  z-index: -1;
}

.drawings img{
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.god {
  transform: translate(10%, -20%);
}

.like {
  transform: translate(70%, 20%);
}

.fish {
  transform: translate(25%, 50%);
}

.gun {
  transform: translate(5%, 70%);
}

.shadow {
  transform: translate(-30%, 5%);
}

/*
.femur {
  transform: rotate(5deg) translate(-30%, 40%);
}

.fight {
  transform: translate(20%, 70%);
}
*/

.main-title {
  position: absolute;
  top: 32%;
  left: 43%;
  transform: translate(-73%, 5%);
  font-size: 2rem;
  color: #E6CCB2;
}

.undertitle {
  position: absolute;
  width: 70%;
  top: 35%;
  left: 71%;
  font-size: 4rem;
  transform: translate(-73%, 5%);
  color: #E6CCB2;
}

.content {
  width: 100%;
  margin-top: 200px;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}
